name: Build Container

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-v2
  cancel-in-progress: true

on:
  schedule:
    - cron: "25 14 1 * *"
  push:
    branches: [ "master" ]
    tags: [ "v*.*.*" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:
  workflow_call:
    inputs:
      architectures:
        description: "JSON array of objects with the fields 'runner-' and 'architecture' set."
        required: false
        type: string
      build-context:
        description: "The directory to pass through as the working directory during container builds"
        required: false
        type: string
      compression-level:
        description: "Enable xz compressing the created image artifacts with the passed compression level"
        required: false
        type: string
      containerfiles:
        description: "Links to the containerfiles to build"
        required: false
        type: string
      image-name:
        description: "The image name to publish to (defaults to '{repository}/{repo.name}')"
        required: false
        type: string
      install-qemu:
        description: "Whether to install qemu to enable cross-architecture builds"
        required: false
        type: boolean
      maximise-space:
        description: "Whether to run steps which increase straoge in the job's runtime"
        required: false
        type: boolean
      registry:
        description: "Registry the built image is for"
        required: false
        type: string

env:
  BUILD_CONTEXT: ${{ inputs.build-context || '.' }}
  COMPRESSION_LEVEL: ${{ inputs.compression-level || '' }}
  CONTAINERFILES: ${{ inputs.containerfiles || './Containerfile' }}
  IMAGE_NAME: ${{ inputs.image-name || github.repository }}
  INSTALL_QEMU: ${{ inputs.install-qemu || false }}
  MAXIMISE_SPACE: ${{ inputs.maximise-space || false }}
  OCI_STORAGE_DIR: ./oci-images
  REGISTRY: ${{ inputs.registry || 'ghcr.io' }}

jobs:
  set-matrix:
    runs-on: ubuntu-24.04
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}

    steps:
      - id: set-matrix
        shell: bash
        run: |
          set +o pipefail

          if [[ -n "${{ inputs.architectures }}" ]]
          then
            echo "matrix=${{ inputs.architectures }}" >> "$GITHUB_OUTPUT"
          else
            echo "matrix=[{\"os\":\"ubuntu-24.04\",\"architecture\":\"amd64\"},{\"os\":\"ubuntu-24.04-arm\",\"architecture\":\"arm64\"}]" >> "$GITHUB_OUTPUT"
          fi

  build:
    strategy:
      matrix:
        build-config: ${{ fromJSON(needs.set-matrix.outputs.matrix) }}

    needs: [set-matrix]
    runs-on: ${{ matrix.build-config.os }}

    steps:
      - name: Maximize build space
        if: env.MAXIMISE_SPACE == 'true'
        uses: ublue-os/remove-unwanted-software@cc0becac701cf642c8f0a6613bbdaf5dc36b259e # v9

      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          submodules: "true"

      - name: Install QEMU
        if: env.INSTALL_QEMU == 'true'
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
        with:
          platforms: ${{ matrix.build-config.architecture }}

      - name: Generate build configuration
        id: gen-config
        shell: bash
        run: |
          set +o pipefail

          if [[ -n ${{ matrix.build-config.architecture }} ]]; then
            architecture="${{ matrix.build-config.architecture }}"
            platform="linux/${{ matrix.build-config.architecture }}"
          else
            platform="$(podman info -f '{{.Version.OsArch}}')"
            architecture="$(echo "${{ matrix.build-config.architecture }}" | cut -d '/' -f2)"
          fi

          build_uuid=$(uuidgen)
          {
            echo "architecture=$architecture";
            echo "artifact-name=$architecture-$build_uuid";
            echo "platform=$platform";
            echo "tag=localhost/$architecture/$build_uuid:latest";
          } >> "$GITHUB_OUTPUT"

      - name: Generate container metadata
        id: metadata
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=sha

      - name: Build image
        id: build
        uses: redhat-actions/buildah-build@7a95fa7ee0f02d552a32753e7414641a04307056 # v2.13
        with:
          tags: ${{ steps.gen-config.outputs.tag }}
          platforms: ${{ steps.gen-config.outputs.platform }}
          oci: true
          labels: ${{ steps.metadata.outputs.labels }}
          containerfiles: ${{ env.CONTAINERFILES }}
          context: ${{ env.BUILD_CONTEXT }}

      - name: Save image
        id: save
        shell: bash
        run: |
          set +o pipefail

          OUTPUT_DIR="./oci-images"
          OUTPUT_PATH="$OUTPUT_DIR/${{ steps.gen-config.outputs.artifact-name }}.oci"

          mkdir -p "$OUTPUT_DIR"
          podman save --format oci-archive -o "$OUTPUT_PATH" "${{ steps.gen-config.outputs.tag }}"

          if [[ "${{ env.COMPRESSION_LEVEL }}" != "" ]]
          then
            echo "Compressing OCI-archive to $OUTPUT_PATH.xz"
            xz -z${{ env.COMPRESSION_LEVEL }} "$OUTPUT_PATH"
            OUTPUT_PATH="${OUTPUT_PATH}.xz"
          fi

          echo "image-dir=$OUTPUT_DIR" >> "$GITHUB_OUTPUT"
          echo "image-path=$OUTPUT_PATH" >> "$GITHUB_OUTPUT"

      - name: Create OCI container artifact
        id: upload-coverage
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: container-build-${{ steps.gen-config.outputs.artifact-name }}
          path: ${{ steps.save.outputs.image-dir }}/*.oci*
          if-no-files-found: error
          retention-days: 1

      - name: Clear local store
        shell: bash
        run: |
          set +o pipefail

          rm -r ${{ steps.save.outputs.image-path }}
          podman image rm ${{ steps.build.outputs.image-with-tag }}

  push:
    runs-on: ubuntu-24.04
    if: github.event_name != 'pull_request'
    needs: [build]

    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Maximize build space
        if: env.MAXIMISE_SPACE == 'true'
        uses: ublue-os/remove-unwanted-software@cc0becac701cf642c8f0a6613bbdaf5dc36b259e # v9

      - name: Install cosign
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0

      - name: Download images
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          pattern: container-build-*
          path: ${{ env.OCI_STORAGE_DIR }}/

      - name: Generate container metadatata
        id: metadata
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=sha

      - name: Create manifest
        id: load-images
        shell: bash
        run: |
          set +o pipefail

          manifest_tag="$(echo '${{ env.IMAGE_NAME }}' | tr '[:upper:]' '[:lower:]'):$(uuidgen)"
          podman manifest create "$manifest_tag"
          echo "${{ steps.metadata.outputs.tags }}" | xargs -I {} podman tag "$manifest_tag" {}

          while read -rd $'\0' image_path
          do
            echo "Decompressing OCI archive $image_path"
            xz -d "$image_path"
          done < <(find "${{ env.OCI_STORAGE_DIR }}/" -type f -name "*.oci.xz" -print0)

          while read -rd $'\0' image_path
          do
            echo "Adding $image_path to manifest"
            podman manifest add "$manifest_tag" "oci-archive:$image_path"
          done < <(find "${{ env.OCI_STORAGE_DIR }}/" -type f -name "*.oci" -print0)

      - name: Push image
        id: push-image
        uses: redhat-actions/push-to-registry@5ed88d269cf581ea9ef6dd6806d01562096bee9c # v2.8
        with:
          tags: ${{ steps.metadata.outputs.tags }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # This log in step is only required to allow signing the container image
      - name: Log into registry ${{ env.REGISTRY }}
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Sign the published container image
        env:
          TAGS: ${{ steps.metadata.outputs.tags }}
          DIGEST: ${{ steps.push-image.outputs.digest }}
          shell: bash
        run: |
          set +o pipefail

          echo "${TAGS}" | xargs -I {} cosign sign --yes "{}@${DIGEST}"
