name: Run clippy

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-v2
  cancel-in-progress: true

on:
  workflow_call:

jobs:
  clippy:
    runs-on: ubuntu-24.04
    steps:
      - name: Initialise environment with Mise
        uses: FasterSpeeding/Piped-actions/.github/actions/mise-init@5c201b3c5aaa75ce36c2da8c454579c76d14ead8 # 2025.12.17
        with:
          install-args: rust

      - uses: auguwu/clippy-action@94a9ff2f6920180b89e5c03d121d0af04a9d3e03 # 1.4.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-features
