name: Freeze PR dependency changes

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-v2
  cancel-in-progress: true

on:
  pull_request:
    branches:
      - master
    paths: ["piped", "pyproject.toml"]
  workflow_call:
    inputs:
      install-args:
        description: The dependencies to install via Mise
        required: false
        type: string

env:
  INSTALL_ARGS: "${{ inputs.install-args || 'python uv' }}"

jobs:
  freeze-pr-dep-changes:
    runs-on: ubuntu-24.04

    steps:
      - name: Run combine-coverage job
        uses: FasterSpeeding/Piped-actions/.github/actions/just-jobs@5c201b3c5aaa75ce36c2da8c454579c76d14ead8 # 2025.12.17
        with:
          extra-installs: ${{ env.INSTALL_ARGS }}
          task-names: freeze-locks save-diff

      - name: Check diff file
        uses: FasterSpeeding/Piped-actions/.github/actions/handle-diff-file@5c201b3c5aaa75ce36c2da8c454579c76d14ead8 # 2025.12.17
