name: Lint

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-v2
  cancel-in-progress: true

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_call:
    inputs:
      extra-installs:
        description: Extra dependencies to install via Mise
        required: false
        type: string
      is-workflow-call:
        default: true
        required: false
        type: boolean

env:
  EXTRA_INSTALLS: "${{ inputs.is-workflow-call != true && 'pipx:black pipx:isort ruff' || inputs.extra-installs }}"

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - name: Run lint job
        uses: FasterSpeeding/Piped-actions/.github/actions/just-jobs@5c201b3c5aaa75ce36c2da8c454579c76d14ead8 # 2025.12.17
        env:
          EXCLUDE_GROUPS: rust
          IGNORE_RECIPES: type-check-python
        with:
          extra-installs: node python uv pipx:codespell pipx:pre-commit-hooks npm:renovate ${{ env.EXTRA_INSTALLS }}
          task-names: lint
