name: Reformat PR code

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-v2
  cancel-in-progress: true

on:
  pull_request:
    branches:
      - master
  workflow_call:
    inputs:
      extra-installs:
        description: Extra dependencies to install via Mise
        required: false
        type: string
      is-workflow-call:
        default: true
        required: false
        type: boolean

env:
  EXTRA_INSTALLS: "${{ inputs.is-workflow-call != true && 'pipx:black pipx:isort pipx:pycln pipx:sort-all' || inputs.extra-installs }}"

jobs:
  reformat:
    runs-on: ubuntu-24.04

    steps:
      - name: Run format jobs
        uses: FasterSpeeding/Piped-actions/.github/actions/just-jobs@5c201b3c5aaa75ce36c2da8c454579c76d14ead8 # 2025.12.17
        with:
          extra-installs: python uv pipx:pre-commit-hooks ${{ env.EXTRA_INSTALLS }}
          task-names: format save-diff

      - name: Check diff file
        uses: FasterSpeeding/Piped-actions/.github/actions/handle-diff-file@5c201b3c5aaa75ce36c2da8c454579c76d14ead8 # 2025.12.17
