name: Update licence

on:
  schedule:
    - cron: "0 7 1 1 *"
  workflow_dispatch:
  workflow_call:
    inputs:
      committer-email:
        description: "The email address to use for doc branch commits"
        required: false
        type: string
      committer-username:
        description: "The username address to use for doc branch commits"
        required: false
        type: string

env:
  GIT_COMITTER: "${{ inputs.committer-username || 'always-on-duty[bot]' }} <${{ inputs.committer-email || '120557446+always-on-duty[bot]@users.noreply.github.com' }}>"

jobs:
  update-licence:
    runs-on: ubuntu-24.04

    steps:
      - name: Run update-licence job
        uses: FasterSpeeding/Piped-actions/.github/actions/just-jobs@5c201b3c5aaa75ce36c2da8c454579c76d14ead8 # 2025.12.17
        with:
          task-names: update-licence

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        with:
          author: "${{ env.GIT_COMITTER }}"
          branch: task/update-licence
          commit-message: Update licence
          committer: "${{ env.GIT_COMITTER }}"
          title: Update licence
          token: ${{ secrets.ACTIONS_TOKEN || secrets.GITHUB_TOKEN }}
